<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.withparadox2.showslowly">

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

  <application
      android:name=".App"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:ignore="GoogleAppIndexingWarning">
    <meta-data
        android:name="com.baidu.lbsapi.API_KEY"
        android:value="EDNvPE1IkcfIUvHqa6wN7YOCCiEAQBfq"/>

    <activity
        android:name=".ShowActivity"
        android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".map.MapActivity"
        android:label="@string/location"
        android:screenOrientation="portrait"/>

    <activity
        android:name=".letter.LetterListActivity"
        android:label="@string/letters"
        android:screenOrientation="portrait"/>

    <activity
        android:name=".letter.LetterStatActivity"
        android:screenOrientation="portrait"/>
  </application>
</manifest>
