<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.withparadox2.xposedslowly">

  <application
      android:allowBackup="true"
      android:label="@string/app_name"
      android:supportsRtl="true"
      tools:ignore="GoogleAppIndexingWarning">
    <meta-data
        android:name="xposedmodule"
        android:value="true"/>
    <meta-data
        android:name="xposeddescription"
        android:value="XposedSlowly"/>
    <meta-data
        android:name="xposedminversion"
        android:value="30"/>
  </application>

</manifest>
